.ml-product-crud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  &__control {
    width: 30%;
    display: flex;
    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;

    &__inp {
      flex: 5;
      padding: .8rem 1.2rem;
      color: rgba(0, 0, 0, .8);
      border: none;
      font-size: 1rem;

      &:focus-visible, &:focus {
        border: none;
        outline: none;
      }

    }

    &__btn {
      flex: 1;
      background-color: rgba(254, 198, 1, 1);
      border: none;
      transition: all .2s ease-in-out;
      font-weight: 600;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      color: rgba(155, 121, 0, 1);
      cursor: pointer;

      &:disabled {
        background-color: rgba(254, 198, 1, .4);
        color: rgba(155, 121, 0, .4);
        cursor: not-allowed;
      }
    }
  }

  &__list {
    width: 30%;
    padding-top: 1rem;

    &__empty {
      display: block;
      text-align: center;
      color: #8A96BE;
    }

    &__tag {
      list-style: none;
      background-color: #fff;
      border-radius: .5rem;
      overflow: hidden;

      &__item {
        display: flex;
        transition: all .2s ease-in-out;

        &:hover {
          background-color: rgba(0, 0, 0, .05);
          color: rgba(0, 0, 0, .8);
        }

        &:hover > .item_btn {
          opacity: 1;
          background-color: rgba(254, 198, 1, .4);
          color: rgba(155, 121, 0, .4);
        }

        & .item_name {
          display: block;
          width: 95%;
          padding: .8rem 1.2rem;
          color: rgba(0, 0, 0, .4);
        }

        & .item_btn {
          width: 5%;
          border: none;
          outline: none;
          cursor: pointer;
          opacity: 0;
          transition: all .2s ease-in-out;
          color: rgba(0, 0, 0, .4);
          background-color: #fff;

          &:hover {
            background-color: rgba(254, 198, 1, 1);
            color: rgba(155, 121, 0, 1);
          }
        }
      }
    }
  }
}

@media (min-width: 320px) {
  .ml-product-crud {
    &__control, &__list {
      width: 90%;
    }
  }
}

@media (min-width: 768px) {
  .ml-product-crud {
    &__control, &__list {
      width: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .ml-product-crud {
    &__control, &__list {
      width: 40%;
    }
  }
}

@media (min-width: 1440px) {
  .ml-product-crud {
    &__control, &__list {
      width: 30%;
    }
  }
}

@media (min-width: 2560px) {
  .ml-product-crud {
    &__control, &__list {
      width: 20%;
    }
  }
}
