<div class="ml-product-crud">
  <form class="ml-product-crud__control" #productForm="ngForm">
    <input
      class="ml-product-crud__control__inp"
      type="text"
      placeholder="Your product name:"
      required
      name="productName"
      #productInp="ngModel"
      [(ngModel)]="product"
      (keyup.enter)="addProduct()"
    >
    <button class="ml-product-crud__control__btn" [disabled]="!productForm.valid" (click)="addProduct()">ADD</button>
  </form>
  <div class="ml-product-crud__list">
    <span class="ml-product-crud__list__empty" *ngIf="!products.length">Nothing to show</span>
    <ul class="ml-product-crud__list__tag">
      <li class="ml-product-crud__list__tag__item" *ngFor="let product of products.reverse(); index as idx">
        <span class="item_name">{{product}}</span>
        <button class="item_btn" (click)="removeProduct(idx)">X</button>
      </li>
    </ul>
  </div>
</div>
